apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: llm
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: redis:7-alpine
          imagePullPolicy: IfNotPresent
          args: ["redis-server", "--save", "", "--appendonly", "no"]
          ports:
            - containerPort: 6379

          readinessProbe:
            exec:
              command: ["sh", "-lc", "redis-cli ping | grep PONG"]
            initialDelaySeconds: 3
            periodSeconds: 5

          livenessProbe:
            exec:
              command: ["sh", "-lc", "redis-cli ping | grep PONG"]
            initialDelaySeconds: 10
            periodSeconds: 10